.header-title {
  font-weight: bold;
}

button.krust-toggle {
  text-decoration: underline;
}

button.krust-toggle:checked {
  background: #b7f39b;
  text-decoration: underline;
}

.status-bar {
  background: #FDEBD8;
}
